.user-profile-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-image {
  img {
    height: 100px;
    width: 100px;
  }
}

.buttons {
  display: flex;
  button {
    flex: 1;
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .save {
    background-color: #4caf50;
  }
  .save:hover {
    background-color: #137518;
  }
  .delete {
    background-color: red;
  }
  .delete:hover {
    background-color: rgb(153, 7, 7);
  }
}
