.user-profile-container {
  height: 100%;
  width: 100vh;
  border: none;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 1vh;
    font-weight: bold;
    font-size: xx-large;
  }

  .user-image {
    img {
      height: 100px;
      width: 100px;
      padding: 5px;
    }
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .buttons {
    display: flex;
    button {
      flex: 1;
      color: white;
      margin: 5px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .save {
      background-color: #4caf50;
    }
    .save:hover {
      background-color: #137518;
    }
  }
}
