.mainContent {
  .accessButton {
    background-color: #0a4382;
    color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 5px;
  }

  input {
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: #0a4382;
    padding: 5px;
  }
}
