.acciones {
  background-color: #1a5496;
  justify-content: space-evenly;
  border: 3px solid black;
  display: flex;
  width: 100%;

  button {
    width: 15rem;
    padding: 3px;
    &:hover {
      background-color: white;
      color: #1a5496;
    }
  }

  .selected {
    background-color: white;
    color: #1a5496;
    size: 15rem;
  }
}
