.formulario {
  padding: 25px;
  display: grid;
  width: "100%";
  height: "100%";

  .form-group {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 5px;

    input {
      padding: 3px;
      margin: 5px;
      border: 1px solid #000;
      border-radius: 5px;
    }

    select {
      color: #fff;
      padding: 3px;
      margin: 5px;
      border: 2px solid #484747;
      border-radius: 5px;
      background-color: #0a4382;
    }
  }

  .fechas {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
  }

  .hora-selector {
    width: 6vh;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .date-selector {
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .days-container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;

    .day-button {
        padding: 5px;
        border: 1px solid #000;
        border-radius: 5px;
        background-color: #0a4382;
        color: "white";
    }
  }
  .submit-button {
    width: 30%;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #0a4382;
    color: #fff;
    align-items: center;
  }
}
