.fc .fc-view-harness {
    flex-grow: 1;
    position: relative;
    height: 88vh  !important;
}

#calendario {
    //z-index: -1;
    position: relative;
    padding: 13px;
}

.modalStyle {
    background: white;
    border: 3px solid black;
    border-radius: 15px;
    padding: 10px;
    width: 70%;
    height: 70%;
    color: black;
    position: relative;
    z-index: 10;
    left: 20%;
    top: 5%;

    button {
        padding: 5px;
        background-color: #0a4382;
        color: white;
        border: 3px solid black;
        border-radius: 5px;
    }
    select {
        width: 80%;
        padding: 5px;
        margin: 5px;
        border: 3px solid #0a4382;
    }
}