@import '../../../utils/style.scss';

.customerheader {

  display: flex;
  padding: 20px 30px;
  justify-content: space-between;

  h1 {
    font-size: xx-large;
    font-weight: bold;
  }

  button {
    border: 1px solid black;
    padding: 1vh;
    border-radius: 15px;


    &:hover {
      background-color: $color_primary;
      color: white;
    }
  }

}

.customers {
  padding: 3vh;
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Crea tres columnas de igual anchura */
  gap: 20px; /* Espacio entre las columnas */
}
