.users {

  .user_header {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    padding-top: 20px;

    input {
      border: 2px solid #0a4382;
      border-radius: 20px;
      padding: 3px 15px;
    }

    button {
      background-color: #0a4382;
      color: white;
      border: 1px solid grey;
      border-radius: 10px;
      padding: 3px 6px;
    }
  }
    height: 100%;
    .tabla {
      height: 90vh;
      font-size: 15px;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }

      .editUser {
        border: 1px solid black;
        background-color: #0a4382;
        color: white;
        border-radius: 3px;
        padding: 2px;
      }
    }
}
  