.notifications-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .clean-notifications {
    background-color: #0a4382;
    padding: 1.6rem;
    margin: 1rem;
    border-radius: 1rem;
    border: solid 2px rgb(62, 176, 194);
    color: white;

    &:hover {
      background-color: white;
      color: #0a4382;
    }
  }

  .notification {
    width: 30rem;
    height: 12rem;
    border: solid 2px #0a4382;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;

    .noti-info {
      display: flex;
      justify-content: space-between;
      .title {
        font-size: 2rem;
        margin-bottom: 2rem;
        font-weight: bold;
      }
      .fecha {
        font-size: 14px;
        margin-bottom: 2rem;
      }
    }

    .cluster {
      display: flex;
      justify-content: space-between;

      .lnkbutton {
        background-color: #0a4382;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
        border: solid 2px black;
        color: white;

        &:hover {
          background-color: white;
          color: #0a4382;
        }
      }
    }
  }
}
